.section{
    padding: 80px 0;
}
.section-info,.section-info-pro{
    margin-bottom: 5em;
    h3{
        @include stytext3($color-black-3,2.9em);
        text-shadow: 0 1px 2px $color-black-2;
        text-align: center;
    }
    p{
        @include stytext3 ($color-black-4,$fs-0 - 1);
        margin: $mg-1 auto;
        width: 60%;
        line-height: 1.8em;
        letter-spacing: 1px;
    }
}

.section-info-light{
    margin-bottom: 5em;
    h3{
        margin: 0 auto;
        @include stytext3($color-white-0,2.9em);
        text-shadow: 0 1px 2px $color-black-2;
        text-align: center;
    }
    p{
        @include stytext3 ($color-white-0,$fs-0 - 1);
        margin: $mg-1 auto;
        width: 60%;
        line-height: 1.8em;
        letter-spacing: 1px;
    }
}

@media screen and (min-width:1400px) {
    .container{
        max-width: 1140px;
    }
}
@media screen and(max-width:1080px) {
    .section-info{
        h3{
            font-size: 2.5em;
        }
    }
    .section-info-light{
        h3{
            font-size: 2.9em;
        }
    }
}
@media screen and(max-width:991.98px) {
    .section-info{
        h3{
            font-size: 2.3em;
            letter-spacing: .1em;
        }
    }
    .section-info-light{
        h3{
            font-size: 2.9em;
        }
    }
}
@media screen and(max-width:768px) {
    .section-info{
        h3{
            font-size: 1.6em;
            letter-spacing: .1em;
        }
    }
    .section-info-light{
        h3{
            font-size: 2.7em;
        }
        p{
            width: 100%;
        }
    }
    .section-info-pro{
        h3{
            font-size: 2.7em;
        }
        p{
            margin: 1em 0 3em;
            width: auto;
        }
    }
}
@media screen and(max-width:576px) {
    .section-info-pro{
        h3{
            font-size: 2.5em;
        }
        p{
            font-size: $fs-3;
        }
    }
    .section-info-light{
        h3{
            font-size: 2.5em;
        }
    }
}
