*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,
html {
    font-family: 'Lato', sans-serif;
    background-color: white;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}