// COLOR
$color-black-0: #363d41;
$color-black-1: #212529;
$color-black-2: rgba(0, 0, 0, 0.37);
$color-black-3: #2c363e;
$color-black-4: #5e5e5e;
$color-black-5: #151515;

$color-white-0: white;
$color-white-1: #fdfdfd;
$color-white-2: #e8e8e8;

$color-gray-0: #868c94;
$color-gray-1: #777;

$color-purple-0: #7f67f8;

$color-orange-0: #f97c69;

// FONT-SIZE
$fs-0: 16px;
$fs-1: 35px;
$fs-2: 30px;
$fs-3: 14px;
$fs-4: 40px;
$fs-5: 22px;
$fs-6: 15px;

// FONT-WEIGHT
$fw-0: 300;
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;
$fw-4: 500;

// MARGIN
$mg-0: 15px;
$mg-1: 20px;
$mg-2: 40px;

// PADDING
$pd-0: 10px;
$pd-1: 15px;
$pd-2: 4px;
$pd-3: 16px;
$pd-4: 8px;
$pd-5: 30px;
$pd-6:  40px;

// BREAKPOINT
$breakpoints:(
    'xx-large':1400px,
    'x-large':1200px,
    'large':992px,
    'medium':768px,
    'small':576px,
)