.contact{
    background: url('../img/3.jpg') no-repeat;
    background-size: cover;
    padding: 6em 0;
    h3{
        @include stytext3($color-white-0,$fs-4);
        letter-spacing: 4px;
    }
    a{
        @include stytext3($color-white-0,$fs-0);
        padding: 0.7em 2em;
        letter-spacing: 2px;
        display: inline-block;
    }
}
@media screen and (max-width:1080px) {
    .contact{
        h3{
            font-size: $fs-2 + 6;
            letter-spacing: 3px;
        }
    }
}
@media screen and (max-width:991.98px) {
    .contact{
        h3{
            font-size: $fs-2;
            letter-spacing: 1px;
        }
        .button--purple--orange{
            padding: 0.7em 1.3em;
        }
    }
}
@media screen and (max-width:768px) {
    .contact{
        .button--purple--orange{
            margin-top: 1.5em;
        }
    }
}