.customers{
    .owl-theme{
        .owl-dots{
            .owl-dot{
                &.active{
                    span{
                        opacity: 1;
                    }
                }
                span{
                    width: 12px;
                    height: 12px;
                    margin: $mg-3 $mg-3 + 2;
                    background: $color-orange-0;
                    opacity: 0.5;
                }
            }
        } 
    } 
    .customers__feedback{
        .customers__item{
            text-align: center;
            padding: $pd-6 $pd-0;
            margin-right: $mg-0 - 5;
            img{
                width: 110px;
                margin: 0 auto;
                background: $color-purple-0;
                padding: $pd-2 + 1;
                border-radius: 50%;
            }
        }
       
    }
}