#exampleModal{
    .modal-title{
        @include stytext1($color-purple-0,$fs-2 - 2,$fw-2);
        letter-spacing: 2px;
        line-height: 1.5;
        margin-bottom: 0;
    }
    .btn-close{
        background-size: 12px;
        &:focus{
            box-shadow: none;
        }
    }
    .modal-body{
        img{
            width: 100%;
        }
        p{
            @include stytext1($color-gray-1,$fs-3,$fw-1);
            line-height: 28px;
            padding: 1em;
            letter-spacing: 1px;
        }
    }
}